@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --border-color: #e3e5e4;
    --background-color: #c3c7ca;
    --text-color: #34444f;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 1.1;
    background-color: #fff;
    overflow-x: hidden;
}

.draggable-list {
    padding: 0;
    list-style: none;
    color: var(--text-color);
}

.draggable-list.load {
    border: 1px solid var(--border-color);
}

.draggable-list__item {
    display: flex;
    flex: 1;
    background-color: #fff;
}

.draggable-list__item:not(:last-of-type) {
    border-bottom: 1px solid var(--border-color);
}

.draggable-list .number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    width: 60px;
    height: 60px;
    background-color: var(--background-color);
}

.draggable-list__item .draggable.over {
    background-color: #eaeaea;
}

.draggable-list .person-name {
    margin: 0 20px 0 0;
}

.draggable {
    position: relative;
    padding: 15px; 
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.draggable::after,
.draggable::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 20px;
    height: 1px;
    background-color: #000;
}

.draggable::after {
    top: calc(50% - 4px);
}

.person-name {
    max-width: 160px;
    min-height: 20px;
    padding-right: 20px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.draggable.right .person-name {
    color: #3ae374;
}

.draggable.wrong .person-name {
    color: #ff3a3a;
}

.loader {
    height: 100px;
    width: 20%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;
}

.check-btn {
    position: relative;
    display: flex;
    padding: 12px 48px 12px 24px;
    border: 0;
    border-radius: 4px;
    color: var(--text-color);
    font-size: 18px;
    background-color: var(--background-color);
}

.check-btn img {
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translateY(-50%);
}

.check-btn:active {
    transform: scale(0.98);
}

.check-btn:focus {
    outline: 0;
}

/*
  Set the color of the icon
*/
svg path,
svg rect{
    fill: #FF6700;
}