* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.1;
    background-color: #efedd6;
    overflow-x: hidden;
}

h1 {
    margin: 10px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    color: white;
    background: steelblue;
    transform: translateX(-1000%);
    transition: transform 0.5s ease;
}

box h2 {
    font-size: 45px;
}

.box:nth-of-type(even) {
    transform: translateX(1000%);
}

.box.box_animate {
    transform: translateX(0);
}